
@{
  Layout = "_Layout";
}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a> |
      <a class="nav-item nav-link" href="/stylist/list">Stylists</a> |
      <a class="nav-item nav-link" href="/Client/list">Clients</a>
    </div>
  </div>
</nav>


<body>
  <div class="container-fluid">
    @if (@Model["client"].Count == 0)
    {
      <h3>No clients have been added yet!</h3>
    }

    <table>
      <tr>
        <th><u><strong>Id</strong></u></th>
        <th><u><strong>Clients</strong></u></th>
        <th><u><strong>Stylists</strong></u></th>
      </tr>
      @* Clients will be a list of Restaurant objects from the entire database *@
      @foreach (var client in @Model["client"])
      {
        <tr>
        <th>@client.GetId()</th>
        <th>@client.GetClientName()</th>
        <th>
        @foreach(var stylist in @Model["stylist"])
        {
          @if (@stylist.GetId() == @client.GetStylistId())
          {
            @stylist.GetName();
          }
        }
        </th>
        </tr>
      }
    </table>

    <br>
    <strong><a class="home" href="/stylist/add">Add New Stylist</a></strong> <br>

  </div>
  <br>
  <br>

</body>
