
@{
  Layout = "_Layout";
}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a> |
      <a class="nav-item nav-link" href="/stylist/list">Stylists</a> |
      <a class="nav-item nav-link" href="/Client/list">Clients</a>
    </div>
  </div>
</nav>

<body>
  <div class="container-fluid">
    <h2> @Model["stylist"].GetName() 's clients</h2>

    @if (@Model["clients"].Count == 0)
    {
      <h3>No clients have been added yet!</h3>
    }
    <table>
      <tr>
        <th>Id</th>
        <th>Client</th>
      </tr>
      @foreach (var client in @Model["clients"])
      {
        <tr>
        <td>@client.GetId()</td>
        <td>@client.GetClientName() | <a href="/clients/@client.GetId()/edit">Edit</a> | <a href="/clients/@client.GetId()/delete">Delete</a>
        </td>
        </tr>
      }
    </table>
    <br>
    <strong><a href="/@Model["stylist"].GetName()/@Model["stylist"].GetId()/client/add">Add a new Client</a></strong><br>
    <a class="home" href="/">Homepage</a>
  </div>

</body>
